@model AttendanceMVCMyTest.Web.Models.ViewModels.Person.UpdatePersonAttendanceViewModel

@{
    ViewBag.Title = "Edit Person";
}

<h2>Edit Person</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.PersonId)

    <div class="form-group">
        @Html.LabelFor(m => m.FirstName)
        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.LastName)
        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.Label("Day")
        @Html.TextBoxFor(m => m.DayId, new { @class = "form-control" })
    </div>

    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.IsAvailable) Available
        </label>
    </div>

    <button type="submit" class="btn btn-primary">Update</button>
    @Html.ActionLink("Back", "Index", null, new { @class = "btn btn-default" })
}
