@model IEnumerable<AttendanceMVCMyTest.Web.Models.ViewModels.Person.PersonViewModel>

@{
    ViewBag.Title = "Persons";
}

<h2>Persons</h2>

<p>
    @Html.ActionLink("Create New Person", "Create", null, new { @class = "btn btn-primary" })
</p>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <td>@p.FirstName</td>
                <td>@p.LastName</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = p.PersonId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = p.PersonId })
                </td>
            </tr>
        }
    </tbody>
</table>
